@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
// @import 'reset';

* {
  box-sizing: border-box;
}

body {
  background-color: #3b4045;
  color: #3b4045;
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  strong {
    font-weight: 700;
  }
}

h1 {
  font-family: 'Noto Serif', serif;
  color: #e3e3e3;
  font-size: 4em;
}

.grid-container {
  padding: 2em;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr 1fr;
  // grid-template-rows: 65px 1fr 1fr;
  grid-gap: 1px;
  grid-template-areas: ". head ." ". main ." ". . .";
}

.main {
  grid-area: main;
  background-color: #d5d5d5;
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 1px 10px 20px 20px #282b2f;
}

.head {
  grid-area: head;

  svg {
    width: 25%;
    transition: 1250ms;
    fill:#00ace5;
    &.alert {
      fill: #f44336;
    }
    &.green {
      fill: #009688;
    }
  }

}
.containerDescription {
  text-align: center;
  text-transform: uppercase;
}

//
// Stat area
// 
.lt_grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  grid-template-areas: "stat1 stat2 stat3";
}
[class*='lt_stat']{
  background-color: #e4e4e4;
  padding: .8em;
  margin: .2em;
  border-radius: 8px;
}

.lt_stat1 { grid-area: stat1; }

.lt_stat2 { grid-area: stat2; }

.lt_stat3 { grid-area: stat3; }

// .lt_stat4 { grid-area: stat4; 
//   div {
//     vertical-align: middle;
//   }
// }

.counter {
  text-align: center;
  transition: 1250ms;
  .count {
    font-size: 6em;
    font-weight: 700;
  }
  p {
    font-size: 1.5em;
    margin: 0;
  }

  &.alert {
    color: #ffffff;
    box-shadow: 0px 6px 0px 0px rgb(128,31,23);
    background-color: #c33023;

    .count {
      text-shadow: rgb(128,31,23) 1px 1px,rgb(130,32,23) 2px 2px,rgb(132,32,23) 3px 3px,rgb(135,33,24) 4px 4px,rgb(137,33,24) 5px 5px,rgb(139,34,25) 6px 6px,rgb(141,35,25) 7px 7px,rgb(143,35,25) 8px 8px,rgb(145,36,26) 9px 9px,rgb(147,36,26) 10px 10px,rgb(150,37,27) 11px 11px,rgb(152,37,27) 12px 12px,rgb(154,38,27) 13px 13px,rgb(156,38,28) 14px 14px,rgb(158,39,28) 15px 15px,rgb(160,39,29) 16px 16px,rgb(163,40,29) 17px 17px,rgb(165,40,29) 18px 18px,rgb(167,41,30) 19px 19px,rgb(169,42,30) 20px 20px,rgb(171,42,31) 21px 21px,rgb(173,43,31) 22px 22px,rgb(176,43,31) 23px 23px,rgb(178,44,32) 24px 24px,rgb(180,44,32) 25px 25px,rgb(182,45,33) 26px 26px,rgb(184,45,33) 27px 27px,rgb(186,46,33) 28px 28px,rgb(189,46,34) 29px 29px,rgb(191,47,34) 30px 30px,rgb(193,47,35) 31px 31px,rgb(195,48,35) 32px 32px;
    }
  }
  &.green {
    color: #ffffff;
    background-color: #009688;
  }
  &:hover {
    transform: translateY(-10px);
    // transform: scaleX(1.2);
  }
}

#time {
  color: #d5d5d5;
  bottom: 5%;
  left: 50%;
  position: fixed;
  font-size: 2em;
  font-weight: 700;
  margin-left: -3%;
}